/*Inputs*/
.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.field-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 0.5em 1em;

  .input-icon {
    height: 1em;
    width: 1em;
    fill: #ffeba7;
  }

  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
}

.field-error {
  margin-top: 0.25rem;
  .error-message {
    color: #ff4d4d;
    font-size: 0.75em;
    margin: 0 0 0.25rem 0;
  }
}

/*Text*/
.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

/*Hover & focus*/
.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
